.env
models
style_bert_vits2
venv
*.plk
*.wav

__pycache__
__pycache__/*
__pycache__/**

rag_source
rag_source/*
rag_source/**

rag_source_log
rag_source_log/*
rag_source_log/**

rag_source_logg
rag_source_logg/*
rag_source_logg/**

output.wav
