python-dotenv
simpleaudio
sounddevice
scipy
keyboard
langchain==0.2.10
langchain_community==0.2.10
llama-cpp-python==0.2.28
langchain_openai==0.1.17
langchain_chroma==0.1.2
unstructured
python-magic==0.4.27
"unstructured[pdf]"

